#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.strike-through {
  position: relative;
  text-decoration: none; /* Remove default line-through */
}

.strike-through::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  background: black;
  transform: translateY(-50%);
}

.strike-through-done::after {
  width: 100%;
}

.strike-right-to-left::after {
  animation: strike-right-to-left 0.5s forwards;
}

.strike-left-to-right::after {
  animation: strike-left-to-right 0.5s forwards;
}

@keyframes strike-left-to-right {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes strike-right-to-left {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button:focus, button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}
